<html>
<head>
    
</head>
<body>

    <p id="show"></p>
    <button onclick="Post();">测试</button>
    <img src="/aaa.bmp" style="width:2%;" />

    <script src="/jquery.js"></script>
    <script>
        Post();

        function Post() {
            var studentModel = [];
            studentModel.push({
                id: 66,
                name: 'test'
            });
            studentModel.push({
                id: 321,
                name: 'test2'
            });

            var user;

            user = {
                id: 121,
                name: 'name',
            };

            var userList = [];
            userList.push({
                id: 666,
                name: 'name',
            });
            userList.push({
                id: 2222,
                name: '啊',
            });

            var arr2 = [1,2,3,4,5,6,7];

            //arr2.push([1, 2, 3]);
            //arr2.push([4, 5, 6]);

            var arr = ['1', '4', '啊', '中文'];

            $.ajax({
                type: 'POST',
                url: '/Home/PostAction',
                data: { _name: 'test中文', _id: 99.2, _model: studentModel, _user: user, _arr: arr, _userList: userList, _arr2: arr2 },
                success: function (_data) {
                    var show;

                    //alert(_data);

                    show = document.getElementById('show');
                    show.innerHTML = '访客数:' + _data.id;
                },
                error: function (_data) {
                    alert('error');
                    console.log(_data);
                }
            });
        }
    </script>

</body>
</html>