<html>
  <head>
    <meta charset="utf-8">
    <meta name=viewport content="width=device-width,minimum-scale=1,maximum-scale=1,user-scalable=no">
    <title>系统</title>
  </head>
  <body style="margin:0;background: rgb(22, 22, 22);">
    <div id="app"></div>
    <script src="/dist/build-be5ed683ccea4ef66e14.js"></script>
    <script src="/src/lib/xlsx/xlsx.core.min.js"></script>
    <!-- <script src="/src/js/jquery.js"></script> -->
    <!-- <script src="/src/js/xlsx.js"></script> -->
  </body>
</html>
