.select-n {
    min-width: 50px;
    min-height: 34px;
    padding: 5px 22px 5px 5px;
    border: 1px solid #b8b8b8;
    border-radius: 3px;
    font-size: 16px;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    background: url('/static/image/arrow.png') no-repeat scroll right;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
}

.select-n:focus {
    border: 1px solid rgba(100,149,237,0.7);
    box-sizing: border-box;
}

.select-n:hover {
    border: 1px solid cornflowerblue;
}
